#login_form {
    display: flex;
}
#sign_up_form {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 10% 0 45% 35%;
}
#welcome_widget {
    display: block;
    margin: 0 0 0 35%;
}
#moto {
    margin-left: 3%;
    font-size: 2rem;
    font-family: 'Nerko One';
}
.login_buttons {
    width: 15%;
    text-align: center;
    border: solid;
    border-radius: 55%;
    border-width: 0.25%;
    border-color: greenyellow;
    background-color: greenyellow;
    font-weight: bold;
    margin: 2%;
}
.login_buttons:hover {
    width: 15%;
    text-align: center;
    border: solid;
    border-radius: 55%;
    border-width: 0.25%;
    border-color:aqua;
    background-color: aqua;
}
.credential {
    margin: 3%;
    display: grid;
    grid-template-columns: 1fr;
}
.email {
    background: url('../imgs/user-128.svg') no-repeat;
    width: 25%;
    text-align: center;
}
.email:focus {
    background: none;
}
.password {
    width: 25%;
    text-align: center;
    background: url('../imgs/key-53.svg') no-repeat;
}
.password:focus {
    background: none;
}
.password_eye {
    width: 2%;
    height: 2%;
    margin-left: 3%;
}